# Limpieza y filtrado de datos

**Objetivo del proyecto:** Analizar el nivel de impacto de las descargas de *Aguas Residuales* de las *Centrales Termoeléctricas* en los cuerpos receptores, siendo éstos, ríos, lagos y/o mares.

Hipótesis: La Actividad Industrial Termoeléctrica Ventanas genera un nivel de impacto en los cuerpos de agua receptores significativamente superior a las de sus pares.

## Importar librerías

In [1]:
import pandas as pd
import numpy as np

## Cargar y limpiar data

In [2]:
df = pd.DataFrame()
anio_inicial=2017
anio_final=2022
for anio in range(anio_inicial,anio_final+1):
    for mes in range(1,13):
        if(mes<10):
            mes="0"+str(mes)
        path = f'../data/{anio}/EMISIONES/Emisiones{anio}-{mes}_Act2022-09-01.csv'
        frame = pd.read_csv(path,sep=',',low_memory=False)
        frame['ANIO'] = int(anio)
        frame['MES'] = int(mes)
        df = pd.concat([df, frame], axis=0, ignore_index=True)
        if(anio==2022) and (mes=='07'):
            break

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2626961 entries, 0 to 2626960
Data columns (total 32 columns):
 #   Column                   Dtype
---  ------                   -----
 0   PeriodoInforme           object
 1   RUT                      object
 2   RazonSocial              object
 3   Planta                   object
 4   PuntoDeDescarga          object
 5   CuerpoReceptor           object
 6   Norma                    object
 7   Muestra                  int64
 8   MuestraParametro_Codigo  int64
 9   Parametro                object
 10  Unidad                   object
 11  Valor reportado          float64
 12  Caudal Muestra (m3/dia)  float64
 13  RPM                      float64
 14  Tipo de control          object
 15  Laboratorio              object
 16  UnidadFiscalizable       object
 17  RegionId                 float64
 18  RegionNombre             object
 19  ComunaId                 float64
 20  ComunaNombre             object
 21  NombreCategoria          object
 22  NombreSubCategoria       object
 23  Latitud                  float64
 24  Longitud                 float64
 25  CodigoRETC               int64
 26  Tabla                    object
 27  Direccion                object
 28  NumeroRCA                object
 29  FechaRCA                 object
 30  ANIO                     int64
 31  MES                      int64
dtypes: float64(7), int64(5), object(20)
memory usage: 641.3+ MB

In [4]:
df_termoelectricas = df[df["NombreSubCategoria"] == "Central termoeléctrica"]

In [5]:
df_termoelectricas.shape

(234402, 32)

La emisión de distintos niveles de Metales Pesados y otros parámetros relevantes (Ejemplo: Hierro, Cobre, Mercurio, Molibdeno, Temperatura etc.) que se descargan a los cuerpos receptores

In [6]:
df_termoelectricas_filtrado = df_termoelectricas[(df_termoelectricas["Parametro"]=='Hierro Disuelto') |
        (df_termoelectricas["Parametro"]=='Cobre') |
        (df_termoelectricas["Parametro"]=='Mercurio') |
        (df_termoelectricas["Parametro"]=='Molibdeno') |
        (df_termoelectricas["Parametro"]=='Temperatura')]
df_termoelectricas_filtrado.reset_index()

,index,PeriodoInforme,RUT,RazonSocial,Planta,PuntoDeDescarga,CuerpoReceptor,Norma,Muestra,MuestraParametro_Codigo,...,NombreSubCategoria,Latitud,Longitud,CodigoRETC,Tabla,Direccion,NumeroRCA,FechaRCA,ANIO,MES
0,2146,2017/01/01 00:00:00,76004976-K,EMPRESA ELECTRICA ANGAMOS S.A.,CENTRAL TERMOELÉCTRICA ANGAMOS,T.ANGAMOS,BAHIA MEJILLONES,DS 90,30386,707147,...,Central termoeléctrica,-23.025082,-70.320068,5452292,Tabla 4,"SÉPTIMA INDUSTRIAL 1100, Mejillones",290,2013-08-01,2017,1
1,2153,2017/01/01 00:00:00,76004976-K,EMPRESA ELECTRICA ANGAMOS S.A.,CENTRAL TERMOELÉCTRICA ANGAMOS,T.ANGAMOS,BAHIA MEJILLONES,DS 90,707172,707172,...,Central termoeléctrica,-23.025082,-70.320068,5452292,Tabla 4,"SÉPTIMA INDUSTRIAL 1100, Mejillones",290,2013-08-01,2017,1
2,2157,2017/01/01 00:00:00,76004976-K,EMPRESA ELECTRICA ANGAMOS S.A.,CENTRAL TERMOELÉCTRICA ANGAMOS,T.ANGAMOS,BAHIA MEJILLONES,DS 90,30395,707359,...,Central termoeléctrica,-23.025082,-70.320068,5452292,Tabla 4,"SÉPTIMA INDUSTRIAL 1100, Mejillones",290,2013-08-01,2017,1
3,2164,2017/01/01 00:00:00,76004976-K,EMPRESA ELECTRICA ANGAMOS S.A.,CENTRAL TERMOELÉCTRICA ANGAMOS,T.ANGAMOS,BAHIA MEJILLONES,DS 90,707433,707433,...,Central termoeléctrica,-23.025082,-70.320068,5452292,Tabla 4,"SÉPTIMA INDUSTRIAL 1100, Mejillones",290,2013-08-01,2017,1
4,2168,2017/01/01 00:00:00,76004976-K,EMPRESA ELECTRICA ANGAMOS S.A.,CENTRAL TERMOELÉCTRICA ANGAMOS,T.ANGAMOS,BAHIA MEJILLONES,DS 90,30399,707561,...,Central termoeléctrica,-23.025082,-70.320068,5452292,Tabla 4,"SÉPTIMA INDUSTRIAL 1100, Mejillones",290,2013-08-01,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74983,2618999,2022/07/01 00:00:00,96717620-6,SOCIEDAD ELECTRICA SANTIAGO SPA,SANTA LIDIA,PUNTO 1 CANAL COLONIA SUR,CANAL COLONIA SUR,DS 90,132079,4328177,...,Central termoeléctrica,-37.078033,-72.345822,3188001,Tabla 1,"CAMINO A CHARRÚA KM 7, Cabrero",NaN,NaN,2022,7
74984,2620263,2022/07/01 00:00:00,96814370-0,EMPRESA ELECTRICA VENTANAS S.A,CENTRAL TERMOELÉCTRICA NUEVA VENTANAS,VENTANAS.3,BAHÍA QUINTERO,DS 90,4383883,4383883,...,Central termoeléctrica,-32.749400,-71.483300,309729,Tabla 4,"F-30-E S/N, Puchuncaví",1124,2013-08-16,2022,7
74985,2620274,2022/07/01 00:00:00,96814370-0,EMPRESA ELECTRICA VENTANAS S.A,CENTRAL TERMOELÉCTRICA NUEVA VENTANAS,VENTANAS.3,BAHÍA QUINTERO,DS 90,4383909,4383909,...,Central termoeléctrica,-32.749400,-71.483300,309729,Tabla 4,"F-30-E S/N, Puchuncaví",1124,2013-08-16,2022,7
74986,2620283,2022/07/01 00:00:00,96814370-0,EMPRESA ELECTRICA VENTANAS S.A,CENTRAL TERMOELÉCTRICA NUEVA VENTANAS,VENTANAS.3,BAHÍA QUINTERO,DS 90,4383919,4383919,...,Central termoeléctrica,-32.749400,-71.483300,309729,Tabla 4,"F-30-E S/N, Puchuncaví",1124,2013-08-16,2022,7
74987,2620293,2022/07/01 00:00:00,96814370-0,EMPRESA ELECTRICA VENTANAS S.A,CENTRAL TERMOELÉCTRICA NUEVA VENTANAS,VENTANAS.3,BAHÍA QUINTERO,DS 90,4383931,4383931,...,Central termoeléctrica,-32.749400,-71.483300,309729,Tabla 4,"F-30-E S/N, Puchuncaví",1124,2013-08-16,2022,7

In [7]:
df_termoelectricas_filtrado.shape

(74988, 32)

In [9]:
df_termoelectricas_filtrado["Parametro"].value_counts()

Temperatura        63333
Hierro Disuelto     4782
Cobre               3162
Molibdeno           2004
Mercurio            1707
Name: Parametro, dtype: int64

Remover duplicados

In [10]:
df_termoelectricas_filtrado = df_termoelectricas_filtrado.drop_duplicates()
df_termoelectricas_filtrado.reset_index()

,index,PeriodoInforme,RUT,RazonSocial,Planta,PuntoDeDescarga,CuerpoReceptor,Norma,Muestra,MuestraParametro_Codigo,...,NombreSubCategoria,Latitud,Longitud,CodigoRETC,Tabla,Direccion,NumeroRCA,FechaRCA,ANIO,MES
0,2146,2017/01/01 00:00:00,76004976-K,EMPRESA ELECTRICA ANGAMOS S.A.,CENTRAL TERMOELÉCTRICA ANGAMOS,T.ANGAMOS,BAHIA MEJILLONES,DS 90,30386,707147,...,Central termoeléctrica,-23.025082,-70.320068,5452292,Tabla 4,"SÉPTIMA INDUSTRIAL 1100, Mejillones",290,2013-08-01,2017,1
1,2153,2017/01/01 00:00:00,76004976-K,EMPRESA ELECTRICA ANGAMOS S.A.,CENTRAL TERMOELÉCTRICA ANGAMOS,T.ANGAMOS,BAHIA MEJILLONES,DS 90,707172,707172,...,Central termoeléctrica,-23.025082,-70.320068,5452292,Tabla 4,"SÉPTIMA INDUSTRIAL 1100, Mejillones",290,2013-08-01,2017,1
2,2157,2017/01/01 00:00:00,76004976-K,EMPRESA ELECTRICA ANGAMOS S.A.,CENTRAL TERMOELÉCTRICA ANGAMOS,T.ANGAMOS,BAHIA MEJILLONES,DS 90,30395,707359,...,Central termoeléctrica,-23.025082,-70.320068,5452292,Tabla 4,"SÉPTIMA INDUSTRIAL 1100, Mejillones",290,2013-08-01,2017,1
3,2164,2017/01/01 00:00:00,76004976-K,EMPRESA ELECTRICA ANGAMOS S.A.,CENTRAL TERMOELÉCTRICA ANGAMOS,T.ANGAMOS,BAHIA MEJILLONES,DS 90,707433,707433,...,Central termoeléctrica,-23.025082,-70.320068,5452292,Tabla 4,"SÉPTIMA INDUSTRIAL 1100, Mejillones",290,2013-08-01,2017,1
4,2168,2017/01/01 00:00:00,76004976-K,EMPRESA ELECTRICA ANGAMOS S.A.,CENTRAL TERMOELÉCTRICA ANGAMOS,T.ANGAMOS,BAHIA MEJILLONES,DS 90,30399,707561,...,Central termoeléctrica,-23.025082,-70.320068,5452292,Tabla 4,"SÉPTIMA INDUSTRIAL 1100, Mejillones",290,2013-08-01,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52170,2618999,2022/07/01 00:00:00,96717620-6,SOCIEDAD ELECTRICA SANTIAGO SPA,SANTA LIDIA,PUNTO 1 CANAL COLONIA SUR,CANAL COLONIA SUR,DS 90,132079,4328177,...,Central termoeléctrica,-37.078033,-72.345822,3188001,Tabla 1,"CAMINO A CHARRÚA KM 7, Cabrero",NaN,NaN,2022,7
52171,2620263,2022/07/01 00:00:00,96814370-0,EMPRESA ELECTRICA VENTANAS S.A,CENTRAL TERMOELÉCTRICA NUEVA VENTANAS,VENTANAS.3,BAHÍA QUINTERO,DS 90,4383883,4383883,...,Central termoeléctrica,-32.749400,-71.483300,309729,Tabla 4,"F-30-E S/N, Puchuncaví",1124,2013-08-16,2022,7
52172,2620274,2022/07/01 00:00:00,96814370-0,EMPRESA ELECTRICA VENTANAS S.A,CENTRAL TERMOELÉCTRICA NUEVA VENTANAS,VENTANAS.3,BAHÍA QUINTERO,DS 90,4383909,4383909,...,Central termoeléctrica,-32.749400,-71.483300,309729,Tabla 4,"F-30-E S/N, Puchuncaví",1124,2013-08-16,2022,7
52173,2620283,2022/07/01 00:00:00,96814370-0,EMPRESA ELECTRICA VENTANAS S.A,CENTRAL TERMOELÉCTRICA NUEVA VENTANAS,VENTANAS.3,BAHÍA QUINTERO,DS 90,4383919,4383919,...,Central termoeléctrica,-32.749400,-71.483300,309729,Tabla 4,"F-30-E S/N, Puchuncaví",1124,2013-08-16,2022,7
52174,2620293,2022/07/01 00:00:00,96814370-0,EMPRESA ELECTRICA VENTANAS S.A,CENTRAL TERMOELÉCTRICA NUEVA VENTANAS,VENTANAS.3,BAHÍA QUINTERO,DS 90,4383931,4383931,...,Central termoeléctrica,-32.749400,-71.483300,309729,Tabla 4,"F-30-E S/N, Puchuncaví",1124,2013-08-16,2022,7

In [11]:
df_termoelectricas_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52175 entries, 2146 to 2620293
Data columns (total 32 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   PeriodoInforme           52175 non-null  object
 1   RUT                      52175 non-null  object
 2   RazonSocial              52175 non-null  object
 3   Planta                   52175 non-null  object
 4   PuntoDeDescarga          52175 non-null  object
 5   CuerpoReceptor           52175 non-null  object
 6   Norma                    52175 non-null  object
 7   Muestra                  52175 non-null  int64
 8   MuestraParametro_Codigo  52175 non-null  int64
 9   Parametro                52175 non-null  object
 10  Unidad                   52175 non-null  object
 11  Valor reportado          52175 non-null  float64
 12  Caudal Muestra (m3/dia)  52175 non-null  float64
 13  RPM                      52175 non-null  float64
 14  Tipo de control          52175 non-null  object
 15  Laboratorio              52175 non-null  object
 16  UnidadFiscalizable       52175 non-null  object
 17  RegionId                 52175 non-null  float64
 18  RegionNombre             52175 non-null  object
 19  ComunaId                 52175 non-null  float64
 20  ComunaNombre             52175 non-null  object
 21  NombreCategoria          52175 non-null  object
 22  NombreSubCategoria       52175 non-null  object
 23  Latitud                  52175 non-null  float64
 24  Longitud                 52175 non-null  float64
 25  CodigoRETC               52175 non-null  int64
 26  Tabla                    52175 non-null  object
 27  Direccion                52175 non-null  object
 28  NumeroRCA                31714 non-null  object
 29  FechaRCA                 31714 non-null  object
 30  ANIO                     52175 non-null  int64
 31  MES                      52175 non-null  int64
dtypes: float64(7), int64(5), object(20)
memory usage: 13.1+ MB

In [12]:
df_termoelectricas_filtrado["Planta"].value_counts()

CENTRAL TERMOELECTRICA BOCAMINA U1                8433
CENTRAL TERMOELÉCTRICA NUEVA TOCOPILLA            8130
GUACOLDA                                          6433
CENTRAL TERMICA ANDINA                            6395
CENTRAL TERMOELÉCTRICA COCHRANE                   3643
CENTRAL TERMOELECTRICA CAMPICHE                   3172
COMPLEJO TERMOELÉCTRICO NEHUENCO                  2805
CENTRAL TÉRMICA MEJILLONES                        2321
CENTRAL TERMOELÉCTRICA VENTANAS UNIDADES 1 Y 2    2069
SAN ISIDRO 2                                      1374
CENTRAL TERMICA TOCOPILLA                         1051
CENTRAL COLMITO                                    902
CENTRAL TERMOELÉCTRICA LOS PINOS                   736
SANTA LIDIA                                        722
CENTRAL SAN ISIDRO I                               672
RENCA NUEVA RENCA                                  671
CENTRAL TERMOELÉCTRICA ANGAMOS                     585
COMPLEJO TERMOELECTRICO SANTA MARIA                542
YUNGAY (EX CAMPANARIO)                             494
LOS VIENTOS                                        394
CENTRAL TERMOELÉCTRICA NUEVA VENTANAS              264
CENTRAL TERMOELÉCTRICA CANDELARIA                  252
CENTRAL A GAS CICLO COMBINADO KELAR                115
Name: Planta, dtype: int64

In [13]:
df_termoelectricas_filtrado["CuerpoReceptor"].value_counts()

BAHIA MEJILLONES      13059
BAHÍA ALGODONALES      9181
BAHÍA CORONEL          8975
PENINSULA GUACOLDA     6425
BAHÍA QUINTERO         5505
RIO ACONCAGUA          5245
ESTERO LAJARILLA        902
CANAL DE DERRAME        736
CANAL COLONIA SUR       722
RIO MAPOCHO             671
ESTERO LOS GUINDOS      494
ESTERO CADEGUA          252
PUERTO HUASCO             8
Name: CuerpoReceptor, dtype: int64

In [14]:
df_termoelectricas_filtrado.groupby(["ANIO","MES","CuerpoReceptor", "Planta","Parametro"])["Valor reportado"].mean()

ANIO  MES  CuerpoReceptor    Planta                               Parametro
2017  1    BAHIA MEJILLONES  CENTRAL A GAS CICLO COMBINADO KELAR  Molibdeno           0.353000
                             CENTRAL TERMICA ANDINA               Cobre               0.050000
                                                                  Hierro Disuelto     0.575000
                                                                  Mercurio            0.001000
                                                                  Molibdeno           0.010000
                                                                                       ...
2022  7    RIO ACONCAGUA     LOS VIENTOS                          Mercurio            0.000200
                                                                  Temperatura        14.633333
           RIO MAPOCHO       RENCA NUEVA RENCA                    Cobre               0.020000
                                                                  Hierro Disuelto     0.070000
                                                                  Temperatura        15.695833
Name: Valor reportado, Length: 3842, dtype: float64

## Umbrales de las variables

Estos valores representan los umbrales límite que las actividades económicas deben cumplir como máximo/minimo. Los valores fueron extraídos del documento "Decreto-90 07-MAR-2001 MINISTERIO SECRETARÍA GENERAL DE LA PRESIDENCIA - Ley Chile - Biblioteca del.pdf" el enlace al documento es: https://www.bcn.cl/leychile/navegar?idNorma=182637

Los valores nan corresponden a valores que no tienen un umbral definido en el documento.

In [15]:
Umbrales = {
    "Tabla 1" : {"Temperatura":35, "Hierro Disuelto":5,  "Cobre": 1.0, "Molibdeno":1.0,  "Mercurio":0.001 },
    "Tabla 2" : {"Temperatura":40, "Hierro Disuelto":10, "Cobre": 3.0, "Molibdeno":2.5,  "Mercurio":0.010 },
    "Tabla 3" : {"Temperatura":30, "Hierro Disuelto":2,  "Cobre": 0.1, "Molibdeno":0.07, "Mercurio":0.005 },
    "Tabla 4" : {"Temperatura":30, "Hierro Disuelto":10, "Cobre": 1.0, "Molibdeno":0.1,  "Mercurio":0.005 },
    "Tabla 5" : {"Temperatura":np.nan, "Hierro Disuelto":np.nan, "Cobre": 3.0, "Molibdeno":0.5,  "Mercurio":0.020 }
}

Valores máximos reportados por cada planta y convierte el GroupBy a Frame.

In [16]:
df_termoelectricas_filtrado = df_termoelectricas_filtrado.groupby(["ANIO","MES","CuerpoReceptor","Planta","Parametro","Tabla", "Latitud", "Longitud"])["Valor reportado"].max()
df_termoelectricas_filtrado= df_termoelectricas_filtrado.to_frame()
df_termoelectricas_filtrado = df_termoelectricas_filtrado.reset_index()
df_termoelectricas_filtrado

,ANIO,MES,CuerpoReceptor,Planta,Parametro,Tabla,Latitud,Longitud,Valor reportado
0,2017,1,BAHIA MEJILLONES,CENTRAL A GAS CICLO COMBINADO KELAR,Molibdeno,Tabla 5,-23.060626,-70.325548,0.3530
1,2017,1,BAHIA MEJILLONES,CENTRAL TERMICA ANDINA,Cobre,Tabla 4,-23.087606,-70.408082,0.0500
2,2017,1,BAHIA MEJILLONES,CENTRAL TERMICA ANDINA,Hierro Disuelto,Tabla 4,-23.087606,-70.408082,1.3200
3,2017,1,BAHIA MEJILLONES,CENTRAL TERMICA ANDINA,Mercurio,Tabla 4,-23.087606,-70.408082,0.0010
4,2017,1,BAHIA MEJILLONES,CENTRAL TERMICA ANDINA,Molibdeno,Tabla 4,-23.087606,-70.408082,0.0100
...,...,...,...,...,...,...,...,...,...
3853,2022,7,RIO ACONCAGUA,LOS VIENTOS,Mercurio,Tabla 1,-32.843902,-71.013235,0.0002
3854,2022,7,RIO ACONCAGUA,LOS VIENTOS,Temperatura,Tabla 1,-32.843902,-71.013235,14.8000
3855,2022,7,RIO MAPOCHO,RENCA NUEVA RENCA,Cobre,Tabla 1,-33.416700,-70.687400,0.0200
3856,2022,7,RIO MAPOCHO,RENCA NUEVA RENCA,Hierro Disuelto,Tabla 1,-33.416700,-70.687400,0.0700
3857,2022,7,RIO MAPOCHO,RENCA NUEVA RENCA,Temperatura,Tabla 1,-33.416700,-70.687400,16.2000

Creación de la columna umbrales a partir de los valores extraídos del documento.

In [17]:
umbral_list=[]
for i in range(len(df_termoelectricas_filtrado)):
    umbral_list.append(Umbrales[df_termoelectricas_filtrado["Tabla"][i]] [df_termoelectricas_filtrado["Parametro"][i]])

df_termoelectricas_filtrado["Umbral"]=umbral_list
df_termoelectricas_filtrado

,ANIO,MES,CuerpoReceptor,Planta,Parametro,Tabla,Latitud,Longitud,Valor reportado,Umbral
0,2017,1,BAHIA MEJILLONES,CENTRAL A GAS CICLO COMBINADO KELAR,Molibdeno,Tabla 5,-23.060626,-70.325548,0.3530,0.500
1,2017,1,BAHIA MEJILLONES,CENTRAL TERMICA ANDINA,Cobre,Tabla 4,-23.087606,-70.408082,0.0500,1.000
2,2017,1,BAHIA MEJILLONES,CENTRAL TERMICA ANDINA,Hierro Disuelto,Tabla 4,-23.087606,-70.408082,1.3200,10.000
3,2017,1,BAHIA MEJILLONES,CENTRAL TERMICA ANDINA,Mercurio,Tabla 4,-23.087606,-70.408082,0.0010,0.005
4,2017,1,BAHIA MEJILLONES,CENTRAL TERMICA ANDINA,Molibdeno,Tabla 4,-23.087606,-70.408082,0.0100,0.100
...,...,...,...,...,...,...,...,...,...,...
3853,2022,7,RIO ACONCAGUA,LOS VIENTOS,Mercurio,Tabla 1,-32.843902,-71.013235,0.0002,0.001
3854,2022,7,RIO ACONCAGUA,LOS VIENTOS,Temperatura,Tabla 1,-32.843902,-71.013235,14.8000,35.000
3855,2022,7,RIO MAPOCHO,RENCA NUEVA RENCA,Cobre,Tabla 1,-33.416700,-70.687400,0.0200,1.000
3856,2022,7,RIO MAPOCHO,RENCA NUEVA RENCA,Hierro Disuelto,Tabla 1,-33.416700,-70.687400,0.0700,5.000
3857,2022,7,RIO MAPOCHO,RENCA NUEVA RENCA,Temperatura,Tabla 1,-33.416700,-70.687400,16.2000,35.000

Creación de la columna diferencia_umbral: diferencia_umbral = Valor reportado - Umbral

In [18]:
df_termoelectricas_filtrado["diferencia_umbral"] = df_termoelectricas_filtrado["Valor reportado"] - df_termoelectricas_filtrado["Umbral"]
df_termoelectricas_filtrado

,ANIO,MES,CuerpoReceptor,Planta,Parametro,Tabla,Latitud,Longitud,Valor reportado,Umbral,diferencia_umbral
0,2017,1,BAHIA MEJILLONES,CENTRAL A GAS CICLO COMBINADO KELAR,Molibdeno,Tabla 5,-23.060626,-70.325548,0.3530,0.500,-0.1470
1,2017,1,BAHIA MEJILLONES,CENTRAL TERMICA ANDINA,Cobre,Tabla 4,-23.087606,-70.408082,0.0500,1.000,-0.9500
2,2017,1,BAHIA MEJILLONES,CENTRAL TERMICA ANDINA,Hierro Disuelto,Tabla 4,-23.087606,-70.408082,1.3200,10.000,-8.6800
3,2017,1,BAHIA MEJILLONES,CENTRAL TERMICA ANDINA,Mercurio,Tabla 4,-23.087606,-70.408082,0.0010,0.005,-0.0040
4,2017,1,BAHIA MEJILLONES,CENTRAL TERMICA ANDINA,Molibdeno,Tabla 4,-23.087606,-70.408082,0.0100,0.100,-0.0900
...,...,...,...,...,...,...,...,...,...,...,...
3853,2022,7,RIO ACONCAGUA,LOS VIENTOS,Mercurio,Tabla 1,-32.843902,-71.013235,0.0002,0.001,-0.0008
3854,2022,7,RIO ACONCAGUA,LOS VIENTOS,Temperatura,Tabla 1,-32.843902,-71.013235,14.8000,35.000,-20.2000
3855,2022,7,RIO MAPOCHO,RENCA NUEVA RENCA,Cobre,Tabla 1,-33.416700,-70.687400,0.0200,1.000,-0.9800
3856,2022,7,RIO MAPOCHO,RENCA NUEVA RENCA,Hierro Disuelto,Tabla 1,-33.416700,-70.687400,0.0700,5.000,-4.9300
3857,2022,7,RIO MAPOCHO,RENCA NUEVA RENCA,Temperatura,Tabla 1,-33.416700,-70.687400,16.2000,35.000,-18.8000

Creación de la columna % diferencia_umbral: diferencia_umbral = Valor reportado - Umbral

In [19]:
df_termoelectricas_filtrado["% diferencia_umbral"] = (df_termoelectricas_filtrado["diferencia_umbral"] / df_termoelectricas_filtrado["Umbral"])*100
df_termoelectricas_filtrado["% diferencia_umbral"] = round(df_termoelectricas_filtrado["% diferencia_umbral"],1)
df_termoelectricas_filtrado.sort_values(by=['ANIO', "MES"],ascending=True)

,ANIO,MES,CuerpoReceptor,Planta,Parametro,Tabla,Latitud,Longitud,Valor reportado,Umbral,diferencia_umbral,% diferencia_umbral
0,2017,1,BAHIA MEJILLONES,CENTRAL A GAS CICLO COMBINADO KELAR,Molibdeno,Tabla 5,-23.060626,-70.325548,0.3530,0.500,-0.1470,-29.4
1,2017,1,BAHIA MEJILLONES,CENTRAL TERMICA ANDINA,Cobre,Tabla 4,-23.087606,-70.408082,0.0500,1.000,-0.9500,-95.0
2,2017,1,BAHIA MEJILLONES,CENTRAL TERMICA ANDINA,Hierro Disuelto,Tabla 4,-23.087606,-70.408082,1.3200,10.000,-8.6800,-86.8
3,2017,1,BAHIA MEJILLONES,CENTRAL TERMICA ANDINA,Mercurio,Tabla 4,-23.087606,-70.408082,0.0010,0.005,-0.0040,-80.0
4,2017,1,BAHIA MEJILLONES,CENTRAL TERMICA ANDINA,Molibdeno,Tabla 4,-23.087606,-70.408082,0.0100,0.100,-0.0900,-90.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3853,2022,7,RIO ACONCAGUA,LOS VIENTOS,Mercurio,Tabla 1,-32.843902,-71.013235,0.0002,0.001,-0.0008,-80.0
3854,2022,7,RIO ACONCAGUA,LOS VIENTOS,Temperatura,Tabla 1,-32.843902,-71.013235,14.8000,35.000,-20.2000,-57.7
3855,2022,7,RIO MAPOCHO,RENCA NUEVA RENCA,Cobre,Tabla 1,-33.416700,-70.687400,0.0200,1.000,-0.9800,-98.0
3856,2022,7,RIO MAPOCHO,RENCA NUEVA RENCA,Hierro Disuelto,Tabla 1,-33.416700,-70.687400,0.0700,5.000,-4.9300,-98.6
3857,2022,7,RIO MAPOCHO,RENCA NUEVA RENCA,Temperatura,Tabla 1,-33.416700,-70.687400,16.2000,35.000,-18.8000,-53.7

In [20]:
df_termoelectricas_filtrado.to_csv("../processed_data/data_termoelectricas.csv", sep = ";", index = False)

Habiendo definido los umbrales dentro del trabajo, ahora es posible establecer comparaciones entre instalaciones y revisar su comportamiento por parámetro.

## Temperatura

In [21]:
temperaturas = df_termoelectricas_filtrado[df_termoelectricas_filtrado["Parametro"]=="Temperatura"].sort_values(by=['% diferencia_umbral'], ascending=False)
temperaturas

,ANIO,MES,CuerpoReceptor,Planta,Parametro,Tabla,Latitud,Longitud,Valor reportado,Umbral,diferencia_umbral,% diferencia_umbral
1954,2019,11,BAHIA MEJILLONES,CENTRAL TERMICA ANDINA,Temperatura,Tabla 4,-23.087606,-70.408082,34.1,30.0,4.1,13.7
2125,2020,2,BAHIA MEJILLONES,CENTRAL TERMOELÉCTRICA ANGAMOS,Temperatura,Tabla 4,-23.025082,-70.320068,32.6,30.0,2.6,8.7
1699,2019,6,BAHIA MEJILLONES,CENTRAL TERMICA ANDINA,Temperatura,Tabla 4,-23.087606,-70.408082,32.3,30.0,2.3,7.7
2305,2020,5,BAHIA MEJILLONES,CENTRAL TERMICA ANDINA,Temperatura,Tabla 4,-23.087606,-70.408082,31.0,30.0,1.0,3.3
597,2017,11,BAHIA MEJILLONES,CENTRAL TERMOELÉCTRICA ANGAMOS,Temperatura,Tabla 4,-23.025082,-70.320068,30.4,30.0,0.4,1.3
...,...,...,...,...,...,...,...,...,...,...,...,...
3516,2022,2,BAHIA MEJILLONES,CENTRAL TÉRMICA MEJILLONES,Temperatura,Tabla 5,-23.088880,-70.411394,26.0,NaN,NaN,NaN
3574,2022,3,BAHIA MEJILLONES,CENTRAL TÉRMICA MEJILLONES,Temperatura,Tabla 5,-23.088880,-70.411394,25.1,NaN,NaN,NaN
3637,2022,4,BAHIA MEJILLONES,CENTRAL TÉRMICA MEJILLONES,Temperatura,Tabla 5,-23.088880,-70.411394,23.9,NaN,NaN,NaN
3693,2022,5,BAHIA MEJILLONES,CENTRAL TÉRMICA MEJILLONES,Temperatura,Tabla 5,-23.088880,-70.411394,23.9,NaN,NaN,NaN
3811,2022,7,BAHIA MEJILLONES,CENTRAL TÉRMICA MEJILLONES,Temperatura,Tabla 5,-23.088880,-70.411394,24.6,NaN,NaN,NaN

In [22]:
temperaturas[temperaturas["% diferencia_umbral"] > 0]

,ANIO,MES,CuerpoReceptor,Planta,Parametro,Tabla,Latitud,Longitud,Valor reportado,Umbral,diferencia_umbral,% diferencia_umbral
1954,2019,11,BAHIA MEJILLONES,CENTRAL TERMICA ANDINA,Temperatura,Tabla 4,-23.087606,-70.408082,34.10,30.0,4.10,13.7
2125,2020,2,BAHIA MEJILLONES,CENTRAL TERMOELÉCTRICA ANGAMOS,Temperatura,Tabla 4,-23.025082,-70.320068,32.60,30.0,2.60,8.7
1699,2019,6,BAHIA MEJILLONES,CENTRAL TERMICA ANDINA,Temperatura,Tabla 4,-23.087606,-70.408082,32.30,30.0,2.30,7.7
2305,2020,5,BAHIA MEJILLONES,CENTRAL TERMICA ANDINA,Temperatura,Tabla 4,-23.087606,-70.408082,31.00,30.0,1.00,3.3
597,2017,11,BAHIA MEJILLONES,CENTRAL TERMOELÉCTRICA ANGAMOS,Temperatura,Tabla 4,-23.025082,-70.320068,30.40,30.0,0.40,1.3
1819,2019,8,BAHÍA QUINTERO,CENTRAL TERMOELECTRICA CAMPICHE,Temperatura,Tabla 4,-32.749400,-71.483300,30.09,30.0,0.09,0.3

In [23]:
temperaturas.describe()

,ANIO,MES,Latitud,Longitud,Valor reportado,Umbral,diferencia_umbral,% diferencia_umbral
count,1373.000000,1373.000000,1373.000000,1373.000000,1373.00000,1357.000000,1357.000000,1357.000000
mean,2019.307356,6.144210,-30.661910,-71.284911,22.81854,32.317612,-9.535405,-28.520265
std,1.639147,3.392825,5.581931,0.892330,4.81750,2.872167,6.385062,17.757772
min,2017.000000,1.000000,-37.107246,-73.165840,6.80000,30.000000,-28.200000,-80.600000
25%,2018.000000,3.000000,-34.033912,-71.483300,19.70000,30.000000,-14.700000,-42.600000
50%,2019.000000,6.000000,-32.843902,-71.316242,23.27000,30.000000,-8.200000,-26.000000
75%,2021.000000,9.000000,-23.088880,-70.411394,26.40000,35.000000,-4.200000,-13.900000
max,2022.000000,12.000000,-22.098100,-70.208398,34.20000,40.000000,4.100000,13.700000

In [24]:
temperaturas["Planta"].value_counts()

CENTRAL TÉRMICA MEJILLONES                        83
CENTRAL TERMICA ANDINA                            67
CENTRAL TERMOELÉCTRICA VENTANAS UNIDADES 1 Y 2    67
CENTRAL TERMOELÉCTRICA ANGAMOS                    67
CENTRAL TERMOELÉCTRICA NUEVA TOCOPILLA            67
LOS VIENTOS                                       67
CENTRAL TERMOELÉCTRICA COCHRANE                   67
SANTA LIDIA                                       66
CENTRAL TERMOELECTRICA BOCAMINA U1                65
CENTRAL TERMOELECTRICA CAMPICHE                   65
CENTRAL TERMOELÉCTRICA NUEVA VENTANAS             65
CENTRAL TERMOELÉCTRICA LOS PINOS                  65
YUNGAY (EX CAMPANARIO)                            65
CENTRAL COLMITO                                   65
CENTRAL TERMICA TOCOPILLA                         64
GUACOLDA                                          62
CENTRAL TERMOELÉCTRICA CANDELARIA                 61
COMPLEJO TERMOELECTRICO SANTA MARIA               60
COMPLEJO TERMOELÉCTRICO NEHUENCO                  59
RENCA NUEVA RENCA                                 55
SAN ISIDRO 2                                      47
CENTRAL SAN ISIDRO I                              24
Name: Planta, dtype: int64

In [25]:
temperaturas["CuerpoReceptor"].value_counts()

BAHIA MEJILLONES      284
BAHÍA QUINTERO        197
RIO ACONCAGUA         197
BAHÍA ALGODONALES     131
BAHÍA CORONEL         125
CANAL COLONIA SUR      66
CANAL DE DERRAME       65
ESTERO LOS GUINDOS     65
ESTERO LAJARILLA       65
PENINSULA GUACOLDA     61
ESTERO CADEGUA         61
RIO MAPOCHO            55
PUERTO HUASCO           1
Name: CuerpoReceptor, dtype: int64

In [26]:
temperaturas.groupby(["CuerpoReceptor", "Planta"])["Valor reportado"].max()

CuerpoReceptor      Planta
BAHIA MEJILLONES    CENTRAL TERMICA ANDINA                            34.10
                    CENTRAL TERMOELÉCTRICA ANGAMOS                    32.60
                    CENTRAL TERMOELÉCTRICA COCHRANE                   29.80
                    CENTRAL TÉRMICA MEJILLONES                        30.20
BAHÍA ALGODONALES   CENTRAL TERMICA TOCOPILLA                         29.30
                    CENTRAL TERMOELÉCTRICA NUEVA TOCOPILLA            29.10
BAHÍA CORONEL       CENTRAL TERMOELECTRICA BOCAMINA U1                29.30
                    COMPLEJO TERMOELECTRICO SANTA MARIA               26.20
BAHÍA QUINTERO      CENTRAL TERMOELECTRICA CAMPICHE                   30.09
                    CENTRAL TERMOELÉCTRICA NUEVA VENTANAS             27.10
                    CENTRAL TERMOELÉCTRICA VENTANAS UNIDADES 1 Y 2    29.60
CANAL COLONIA SUR   SANTA LIDIA                                       24.50
CANAL DE DERRAME    CENTRAL TERMOELÉCTRICA LOS PINOS                  29.00
ESTERO CADEGUA      CENTRAL TERMOELÉCTRICA CANDELARIA                 27.00
ESTERO LAJARILLA    CENTRAL COLMITO                                   23.90
ESTERO LOS GUINDOS  YUNGAY (EX CAMPANARIO)                            29.00
PENINSULA GUACOLDA  GUACOLDA                                          28.10
PUERTO HUASCO       GUACOLDA                                          19.20
RIO ACONCAGUA       CENTRAL SAN ISIDRO I                              30.63
                    COMPLEJO TERMOELÉCTRICO NEHUENCO                  34.20
                    LOS VIENTOS                                       22.60
                    SAN ISIDRO 2                                      32.81
RIO MAPOCHO         RENCA NUEVA RENCA                                 27.50
Name: Valor reportado, dtype: float64

In [27]:
temperaturas["Tabla"].value_counts()

Tabla 4    783
Tabla 1    519
Tabla 2     55
Tabla 5     16
Name: Tabla, dtype: int64

In [28]:
temperaturas.to_csv("../processed_data/temperatura.csv", sep = ";", index = False)

## Hierro Disuelto

In [29]:
hierro_d = df_termoelectricas_filtrado[df_termoelectricas_filtrado["Parametro"]=="Hierro Disuelto"].sort_values(by=['% diferencia_umbral'], ascending=False)
hierro_d

,ANIO,MES,CuerpoReceptor,Planta,Parametro,Tabla,Latitud,Longitud,Valor reportado,Umbral,diferencia_umbral,% diferencia_umbral
2033,2019,12,CANAL DE DERRAME,CENTRAL TERMOELÉCTRICA LOS PINOS,Hierro Disuelto,Tabla 1,-37.089900,-72.322898,4.690,5.0,-0.310,-6.2
1282,2018,10,PENINSULA GUACOLDA,GUACOLDA,Hierro Disuelto,Tabla 4,-28.472116,-71.247379,8.000,10.0,-2.000,-20.0
3240,2021,9,ESTERO LOS GUINDOS,YUNGAY (EX CAMPANARIO),Hierro Disuelto,Tabla 1,-37.107246,-72.292082,2.412,5.0,-2.588,-51.8
2080,2020,1,BAHÍA CORONEL,CENTRAL TERMOELECTRICA BOCAMINA U1,Hierro Disuelto,Tabla 4,-37.022789,-73.165840,4.320,10.0,-5.680,-56.8
1420,2019,1,BAHÍA QUINTERO,CENTRAL TERMOELÉCTRICA VENTANAS UNIDADES 1 Y 2,Hierro Disuelto,Tabla 4,-32.749400,-71.483300,3.910,10.0,-6.090,-60.9
...,...,...,...,...,...,...,...,...,...,...,...,...
3514,2022,2,BAHIA MEJILLONES,CENTRAL TÉRMICA MEJILLONES,Hierro Disuelto,Tabla 5,-23.088880,-70.411394,0.010,NaN,NaN,NaN
3572,2022,3,BAHIA MEJILLONES,CENTRAL TÉRMICA MEJILLONES,Hierro Disuelto,Tabla 5,-23.088880,-70.411394,0.010,NaN,NaN,NaN
3635,2022,4,BAHIA MEJILLONES,CENTRAL TÉRMICA MEJILLONES,Hierro Disuelto,Tabla 5,-23.088880,-70.411394,0.100,NaN,NaN,NaN
3691,2022,5,BAHIA MEJILLONES,CENTRAL TÉRMICA MEJILLONES,Hierro Disuelto,Tabla 5,-23.088880,-70.411394,0.010,NaN,NaN,NaN
3809,2022,7,BAHIA MEJILLONES,CENTRAL TÉRMICA MEJILLONES,Hierro Disuelto,Tabla 5,-23.088880,-70.411394,0.010,NaN,NaN,NaN

In [30]:
hierro_d.describe()

,ANIO,MES,Latitud,Longitud,Valor reportado,Umbral,diferencia_umbral,% diferencia_umbral
count,905.000000,905.000000,905.000000,905.000000,905.000000,889.000000,889.000000,889.000000
mean,2019.356906,6.112707,-30.589072,-71.347784,0.158705,7.907762,-7.747032,-97.925084
std,1.636056,3.371947,5.864454,0.899046,0.447860,2.467910,2.467692,5.623059
min,2017.000000,1.000000,-37.107246,-73.165840,0.000300,5.000000,-9.999000,-100.000000
25%,2018.000000,3.000000,-37.022789,-72.292082,0.012000,5.000000,-9.957000,-99.800000
50%,2019.000000,6.000000,-32.930525,-71.325489,0.050000,10.000000,-9.700000,-99.100000
75%,2021.000000,9.000000,-23.087606,-70.408082,0.120000,10.000000,-4.950000,-98.400000
max,2022.000000,12.000000,-22.098100,-70.208398,8.000000,10.000000,-0.310000,-6.200000

## Cobre

In [31]:
cobre = df_termoelectricas_filtrado[df_termoelectricas_filtrado["Parametro"]=="Cobre"].sort_values(by=['% diferencia_umbral'], ascending=False)
cobre

,ANIO,MES,CuerpoReceptor,Planta,Parametro,Tabla,Latitud,Longitud,Valor reportado,Umbral,diferencia_umbral,% diferencia_umbral
3805,2022,7,BAHIA MEJILLONES,CENTRAL TERMOELÉCTRICA COCHRANE,Cobre,Tabla 4,-23.064000,-70.370300,0.890,1.0,-0.110,-11.0
3304,2021,10,PENINSULA GUACOLDA,GUACOLDA,Cobre,Tabla 4,-28.472116,-71.247379,0.810,1.0,-0.190,-19.0
3787,2022,6,PENINSULA GUACOLDA,GUACOLDA,Cobre,Tabla 4,-28.472116,-71.247379,0.720,1.0,-0.280,-28.0
3847,2022,7,PENINSULA GUACOLDA,GUACOLDA,Cobre,Tabla 4,-28.472116,-71.247379,0.650,1.0,-0.350,-35.0
823,2018,3,BAHÍA CORONEL,CENTRAL TERMOELECTRICA BOCAMINA U1,Cobre,Tabla 4,-37.022789,-73.165840,0.617,1.0,-0.383,-38.3
...,...,...,...,...,...,...,...,...,...,...,...,...
2295,2020,4,RIO ACONCAGUA,SAN ISIDRO 2,Cobre,Tabla 2,-32.936543,-71.316242,0.005,3.0,-2.995,-99.8
2350,2020,5,RIO ACONCAGUA,CENTRAL SAN ISIDRO I,Cobre,Tabla 2,-32.936543,-71.316242,0.005,3.0,-2.995,-99.8
2359,2020,5,RIO ACONCAGUA,SAN ISIDRO 2,Cobre,Tabla 2,-32.936543,-71.316242,0.005,3.0,-2.995,-99.8
2225,2020,3,RIO ACONCAGUA,CENTRAL SAN ISIDRO I,Cobre,Tabla 2,-32.936543,-71.316242,0.005,3.0,-2.995,-99.8
1311,2018,11,BAHÍA CORONEL,CENTRAL TERMOELECTRICA BOCAMINA U1,Cobre,Tabla 4,-37.022789,-73.165840,0.000,1.0,-1.000,-100.0

In [32]:
cobre.describe()

,ANIO,MES,Latitud,Longitud,Valor reportado,Umbral,diferencia_umbral,% diferencia_umbral
count,602.000000,602.000000,602.000000,602.000000,602.000000,602.000000,602.000000,602.000000
mean,2019.370432,5.983389,-31.105851,-71.534072,0.058626,1.159468,-1.100842,-94.467774
std,1.652102,3.319341,5.720100,1.034829,0.097851,0.542213,0.549932,9.305027
min,2017.000000,1.000000,-37.107246,-73.165840,0.000000,1.000000,-2.995000,-100.000000
25%,2018.000000,3.000000,-37.022789,-72.292082,0.010000,1.000000,-0.990000,-99.000000
50%,2019.000000,6.000000,-32.936543,-71.316242,0.030000,1.000000,-0.976000,-97.000000
75%,2021.000000,9.000000,-23.088880,-70.411394,0.070000,1.000000,-0.937000,-93.625000
max,2022.000000,12.000000,-22.098100,-70.208398,0.890000,3.000000,-0.110000,-11.000000

## Molibdeno

In [33]:
molibdeno = df_termoelectricas_filtrado[df_termoelectricas_filtrado["Parametro"]=="Molibdeno"].sort_values(by=['% diferencia_umbral'], ascending=False)
molibdeno

,ANIO,MES,CuerpoReceptor,Planta,Parametro,Tabla,Latitud,Longitud,Valor reportado,Umbral,diferencia_umbral,% diferencia_umbral
268,2017,5,BAHÍA QUINTERO,CENTRAL TERMOELÉCTRICA VENTANAS UNIDADES 1 Y 2,Molibdeno,Tabla 4,-32.749400,-71.483300,0.402,0.1,0.302,302.0
833,2018,3,BAHÍA QUINTERO,CENTRAL TERMOELÉCTRICA VENTANAS UNIDADES 1 Y 2,Molibdeno,Tabla 4,-32.749400,-71.483300,0.287,0.1,0.187,187.0
209,2017,4,BAHÍA QUINTERO,CENTRAL TERMOELÉCTRICA VENTANAS UNIDADES 1 Y 2,Molibdeno,Tabla 4,-32.749400,-71.483300,0.268,0.1,0.168,168.0
1399,2019,1,BAHIA MEJILLONES,CENTRAL TERMOELÉCTRICA COCHRANE,Molibdeno,Tabla 4,-23.064000,-70.370300,0.259,0.1,0.159,159.0
722,2018,1,BAHÍA QUINTERO,CENTRAL TERMOELÉCTRICA VENTANAS UNIDADES 1 Y 2,Molibdeno,Tabla 4,-32.749400,-71.483300,0.163,0.1,0.063,63.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2353,2020,5,RIO ACONCAGUA,CENTRAL SAN ISIDRO I,Molibdeno,Tabla 2,-32.936543,-71.316242,0.005,2.5,-2.495,-99.8
2298,2020,4,RIO ACONCAGUA,SAN ISIDRO 2,Molibdeno,Tabla 2,-32.936543,-71.316242,0.005,2.5,-2.495,-99.8
2240,2020,3,RIO ACONCAGUA,SAN ISIDRO 2,Molibdeno,Tabla 2,-32.936543,-71.316242,0.005,2.5,-2.495,-99.8
2172,2020,2,RIO ACONCAGUA,SAN ISIDRO 2,Molibdeno,Tabla 2,-32.936543,-71.316242,0.005,2.5,-2.495,-99.8
713,2018,1,BAHÍA CORONEL,CENTRAL TERMOELECTRICA BOCAMINA U1,Molibdeno,Tabla 4,-37.022789,-73.165840,0.000,0.1,-0.100,-100.0

In [34]:
molibdeno[molibdeno["% diferencia_umbral"] > 0]

,ANIO,MES,CuerpoReceptor,Planta,Parametro,Tabla,Latitud,Longitud,Valor reportado,Umbral,diferencia_umbral,% diferencia_umbral
268,2017,5,BAHÍA QUINTERO,CENTRAL TERMOELÉCTRICA VENTANAS UNIDADES 1 Y 2,Molibdeno,Tabla 4,-32.7494,-71.483300,0.402,0.1,0.302,302.0
833,2018,3,BAHÍA QUINTERO,CENTRAL TERMOELÉCTRICA VENTANAS UNIDADES 1 Y 2,Molibdeno,Tabla 4,-32.7494,-71.483300,0.287,0.1,0.187,187.0
209,2017,4,BAHÍA QUINTERO,CENTRAL TERMOELÉCTRICA VENTANAS UNIDADES 1 Y 2,Molibdeno,Tabla 4,-32.7494,-71.483300,0.268,0.1,0.168,168.0
1399,2019,1,BAHIA MEJILLONES,CENTRAL TERMOELÉCTRICA COCHRANE,Molibdeno,Tabla 4,-23.0640,-70.370300,0.259,0.1,0.159,159.0
722,2018,1,BAHÍA QUINTERO,CENTRAL TERMOELÉCTRICA VENTANAS UNIDADES 1 Y 2,Molibdeno,Tabla 4,-32.7494,-71.483300,0.163,0.1,0.063,63.0
1208,2018,9,BAHÍA QUINTERO,CENTRAL TERMOELÉCTRICA VENTANAS UNIDADES 1 Y 2,Molibdeno,Tabla 4,-32.7494,-71.483300,0.159,0.1,0.059,59.0
1073,2018,7,BAHÍA ALGODONALES,CENTRAL TERMOELÉCTRICA NUEVA TOCOPILLA,Molibdeno,Tabla 4,-22.0981,-70.208398,0.142,0.1,0.042,42.0
956,2018,5,BAHÍA QUINTERO,CENTRAL TERMOELÉCTRICA VENTANAS UNIDADES 1 Y 2,Molibdeno,Tabla 4,-32.7494,-71.483300,0.116,0.1,0.016,16.0
1007,2018,6,BAHÍA ALGODONALES,CENTRAL TERMOELÉCTRICA NUEVA TOCOPILLA,Molibdeno,Tabla 4,-22.0981,-70.208398,0.113,0.1,0.013,13.0

In [35]:
molibdeno.describe()

,ANIO,MES,Latitud,Longitud,Valor reportado,Umbral,diferencia_umbral,% diferencia_umbral
count,611.000000,611.000000,611.000000,611.000000,611.000000,611.000000,611.000000,611.000000
mean,2019.279869,6.111293,-30.152726,-71.267918,0.021280,0.630769,-0.609489,-87.479705
std,1.621142,3.402129,6.425359,0.899303,0.033672,0.566759,0.573349,30.622292
min,2017.000000,1.000000,-37.107246,-73.165840,0.000000,0.100000,-2.495000,-100.000000
25%,2018.000000,3.000000,-37.078033,-72.292082,0.009000,0.100000,-0.990000,-99.000000
50%,2019.000000,6.000000,-32.749400,-71.316242,0.010000,0.500000,-0.491000,-97.000000
75%,2021.000000,9.000000,-23.060626,-70.325548,0.020000,1.000000,-0.089000,-87.000000
max,2022.000000,12.000000,-22.098100,-70.208398,0.402000,2.500000,0.302000,302.000000

In [36]:
molibdeno["Tabla"].value_counts()

Tabla 1    263
Tabla 4    254
Tabla 5     69
Tabla 2     25
Name: Tabla, dtype: int64

In [37]:
molibdeno.to_csv("../processed_data/molibdeno.csv", sep = ";", index = False)

## Mercurio

In [38]:
mercurio = df_termoelectricas_filtrado[df_termoelectricas_filtrado["Parametro"]=="Mercurio"].sort_values(by=['% diferencia_umbral'], ascending=False)
mercurio

,ANIO,MES,CuerpoReceptor,Planta,Parametro,Tabla,Latitud,Longitud,Valor reportado,Umbral,diferencia_umbral,% diferencia_umbral
2105,2020,1,PENINSULA GUACOLDA,GUACOLDA,Mercurio,Tabla 4,-28.472116,-71.247379,0.0090,0.005,0.0040,80.0
3346,2021,11,BAHÍA QUINTERO,CENTRAL TERMOELÉCTRICA VENTANAS UNIDADES 1 Y 2,Mercurio,Tabla 4,-32.749400,-71.483300,0.0080,0.005,0.0030,60.0
1495,2019,2,PENINSULA GUACOLDA,GUACOLDA,Mercurio,Tabla 4,-28.472116,-71.247379,0.0070,0.005,0.0020,40.0
1238,2018,9,RIO ACONCAGUA,SAN ISIDRO 2,Mercurio,Tabla 1,-32.936543,-71.316242,0.0010,0.001,0.0000,0.0
691,2017,12,RIO ACONCAGUA,SAN ISIDRO 2,Mercurio,Tabla 1,-32.936543,-71.316242,0.0010,0.001,0.0000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2746,2021,1,BAHIA MEJILLONES,CENTRAL TÉRMICA MEJILLONES,Mercurio,Tabla 5,-23.088880,-70.411394,0.0005,0.020,-0.0195,-97.5
3453,2022,1,BAHIA MEJILLONES,CENTRAL TÉRMICA MEJILLONES,Mercurio,Tabla 5,-23.088880,-70.411394,0.0005,0.020,-0.0195,-97.5
2898,2021,3,RIO ACONCAGUA,COMPLEJO TERMOELÉCTRICO NEHUENCO,Mercurio,Tabla 2,-32.936695,-71.325489,0.0002,0.010,-0.0098,-98.0
2232,2020,3,RIO ACONCAGUA,COMPLEJO TERMOELÉCTRICO NEHUENCO,Mercurio,Tabla 2,-32.936695,-71.325489,0.0002,0.010,-0.0098,-98.0
712,2018,1,BAHÍA CORONEL,CENTRAL TERMOELECTRICA BOCAMINA U1,Mercurio,Tabla 4,-37.022789,-73.165840,0.0000,0.005,-0.0050,-100.0

In [39]:
mercurio[mercurio["% diferencia_umbral"] > 0]

,ANIO,MES,CuerpoReceptor,Planta,Parametro,Tabla,Latitud,Longitud,Valor reportado,Umbral,diferencia_umbral,% diferencia_umbral
2105,2020,1,PENINSULA GUACOLDA,GUACOLDA,Mercurio,Tabla 4,-28.472116,-71.247379,0.009,0.005,0.004,80.0
3346,2021,11,BAHÍA QUINTERO,CENTRAL TERMOELÉCTRICA VENTANAS UNIDADES 1 Y 2,Mercurio,Tabla 4,-32.749400,-71.483300,0.008,0.005,0.003,60.0
1495,2019,2,PENINSULA GUACOLDA,GUACOLDA,Mercurio,Tabla 4,-28.472116,-71.247379,0.007,0.005,0.002,40.0

In [40]:
mercurio.describe()

,ANIO,MES,Latitud,Longitud,Valor reportado,Umbral,diferencia_umbral,% diferencia_umbral
count,367.000000,367.000000,367.000000,367.000000,367.000000,367.000000,367.000000,367.000000
mean,2019.299728,6.008174,-30.469474,-71.164519,0.000908,0.004112,-0.003204,-64.844687
std,1.620421,3.373383,4.326645,0.569117,0.000789,0.003361,0.003337,32.630283
min,2017.000000,1.000000,-37.107246,-73.165840,0.000000,0.001000,-0.019500,-100.000000
25%,2018.000000,3.000000,-32.936543,-71.473568,0.000500,0.001000,-0.004000,-80.000000
50%,2019.000000,6.000000,-32.749400,-71.247379,0.001000,0.005000,-0.004000,-80.000000
75%,2021.000000,9.000000,-28.472116,-71.013235,0.001000,0.005000,-0.000750,-60.000000
max,2022.000000,12.000000,-22.098100,-70.208398,0.009000,0.020000,0.004000,80.000000

In [41]:
mercurio["Tabla"].value_counts()

Tabla 4    196
Tabla 1    139
Tabla 2     25
Tabla 5      7
Name: Tabla, dtype: int64

In [42]:
mercurio.to_csv("../processed_data/mercurio.csv", sep = ";", index = False)